.highlight {
    background-color: #FFFF88;
}

.smallTopics{
	font-size: 7px;
}

.smallTopicsHighLighted{
	background-color: lightgreen;
}

.biggerFonts{
	font-size: 16px;
}

td{
	vertical-align:top;
}

#firstRow td fieldset legend{
	color:green;
}

#topic1text legend{
	color:blue;
}

fieldset {   
  -moz-border-radius:10px;  
  border-radius: 10px;  
  -webkit-border-radius: 10px; //edit :D
}

#methodMetrics {
	font-weight: bold;
}